*{margin: 0px;
background-color: #2CBAE7;
margin-left: 5px;
margin-right: 5px;}
/* div{
border: 2px solid black;
} */
#box1{
    display: flex;
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 30px;
}
/* 830 */
@media (max-width:830px){
    #box2>.two>img{
        width: 360px;
    }
    
}
#box2{
    display: flex;
    flex-direction: row;
    margin:5px;
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 30px;
    padding-top: 30px;
}
#box2>.two1{
    border-bottom: 2px solid #FFFFFF;
    
}

@media (max-width:830px){
    #box3>#box32>img{
        width: 360px;
    }
    #box3>#box31>img{
        width: 360px;
    }
}
@media (max-width:607px){
    .twotwo>a>img{
        width: 25px;
    }
}
@media (max-width:1414px){
    #box2{
        display: flex;
        flex-direction: column;
    }
}
#box3{
    display: flex;
    flex-direction: row;
    margin:5px;
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 30px;
    padding-top: 30px;
}
/* 658 */
/* 760 */
@media (max-width:760px){
    #box4>#box41>img{
        width: 360px;
    }
}
@media (max-width:1440px){
    #box3{
        display: flex;
        flex-direction: column;
    }
}
#box4{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin:5px;
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 30px;
    padding-top: 30px;
}
@media (max-width:1200px){
    #box4{
        display: flex;
        flex-direction: column;
    }
}
#box5{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin:5px;
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 30px;
    padding-top: 30px;
}
/* 695 */
@media (max-width:760px){
    #box5>#box52>img{
        width: 360px;
    }
    #box5>#box51>img{
        width: 400px;
    }
}
@media (max-width:1182px){
    #box5{
        display: flex;
        flex-direction: column;
    }
}
#navitemright{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 12px;
}
.two2{
    border-top: 2px solid #FFFFFF;
}
#navitemleft{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 12px;


}
#nav{
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 30px;
}
.navitem{
    display: inline-block;
}
.two{
    display: flex;
    justify-content: center;
    align-items: center;
}
#dui{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin-left: 10px;
}
.two1{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 2px;
    padding-bottom: 2px; */
    margin-bottom: 5px;
    /* justify-content: center; */
    background-color: #FFFFFF;
    border-radius: 15px;
    transition: all 0.5s ease;
    /* width: 158px; */
   
   
}

.two1:hover{
    background-color: #3F4B54;
    border-radius: 0px;
    /* transition-delay: 2s; */
}
#aone{
    text-decoration: none;
    color: #2CBAE7;
    background-color: #FFFFFF;
    transition: all 0.5s ease;
    margin: 5px;
}
#aone:hover{
    text-decoration: none;
    color: #2CBAE7;
    background-color: #3F4B54;
    
}
.two2{
   display: flex;
   align-items: center;
   justify-content: center;
}
H2{
    background-color: #FFFFFF;
    color: #2CBAE7;
    text-align: center;
    
}
.twotwo{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}